.wrapper{
    padding-top: 40px;
 }
 

.main-img{
    width: 100%;
    object-fit: contain;
}

.thumbnail-img{
    padding: 2px;
    border: solid 1px #ccc;
}

.image-wrapper{
    padding-bottom: 10px;
}

.info-wrapper{
    border-bottom: 1px solid #d9d9d9;
}

.product-info{
display: flex;
flex-direction: column;
padding-left: 25px;
}
.name{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;

}
.sub-name{
    color: #676767;
    margin-bottom: 10px;
    line-height: 18px;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 1px;
}
.price-wrapper{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.old-price{
    color: #ccc;
    text-decoration: line-through;
    font-size: 14px;
    font-weight: 600;
}
.new-price{
    font-size: 20px;
    color: var(--primary-color);
    font-weight: bold;
    margin: 0 10px;
}
.discount{
    display: inline-block;
    background: var(--primary-color);
    color: white;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 600;
}


.detail-wrapper{
    font-size: 15px;
    margin-bottom: 25px;
}

.detail{
font-weight: 500;
}

.controls{
    padding: 10px 0 30px;
}

.text{
    display: inline-block;
    color: #757575;
    width: 110px;
    text-transform: capitalize;
    flex-shrink: 0;
}

.quantity-wrapper{
    display: flex;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 20px;
    .btn{
    background-color: #fff;
    display: inline-block;
    padding: 0 10px;
    width: 30px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    border: none;
    cursor: pointer;
    }
   .quantity{
    min-width: 40px;
    text-align: center;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;;
   }
   .btn:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
   }
   .btn:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px
   }
}

.policy-wrapper{
    padding: 30px 10px 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    p{
        font-size: 12px;
        font-weight: 500;
    }
}
.policy-img{
    width: 80px;
    object-fit: cover;
    text-align: center;
}

.buy-btn{
    min-width: 194px;
}